.header {
  z-index: 100000000000000;
  transition: all 0.5s ease-in;
  background-color: white;
}


img.logo.img-fluid {
  width: 10rem;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.scrolled img.logo.img-fluid {
  width: 8rem;
}


.navbar-nav > a {
  color: rgb(100, 65, 165) !important;
  margin: 0 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.5px;
  position: relative;
  border-bottom: 3px solid rgba(255, 255, 63, 0);
  transition: border-bottom 0.3s ease;
}

a:hover {
  text-decoration: none !important;
}
.navbar-nav > a:hover {
  color: #766dff !important;
}
.navbar-nav > a.active {
  border-bottom: 1px solid #766dff;
  color: #766dff !important;
}

.navbar-nav > a:hover,
a.headerLinks:hover {
  border-bottom: 3px solid #766dff;
}
.navbar-nav > a.active,
a.headerLinks:active {
  border-bottom: 3px solid #766dff;
}


.justify-content-center.align-items-center.navbar-nav{
  margin-left: auto;
}


a.resume {
  border: none;
 background-color: #766dff;
 border-radius: 3rem;
  color: white !important;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none !important;
  padding: 1rem 3rem;
  text-transform: uppercase;
  transition: all 0.3s ease;

}
a.resume:focus {
  outline: none;
}

.navbar-nav > a.resume:hover {
  color: white !important;
  border-bottom: none;
  background-color: rgb(86, 74, 255);
}


@media (max-width:992px){
  .navbar-nav > a{
    margin: .5rem;
  }
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  /* width: 100vw !important; */
  max-width: 100vw !important;
  transition: all 0.5s ease-in;
}
.scrolled {
  padding: 0 2rem;
  z-index: 100000;
  background: white;

}